
#main-navigation {
    background-color: #333333;
    padding: 10px;
    margin: 0;
}

body {
    margin: 0;
    background-image: url("topography.png");
    font-family: Consolas, courier;
}

main {
    padding-left: 10%;
    padding-right: 10%;
}

#main-navigation ul{
    list-style-type: none;
    margin-right: 10px;
    text-align: right;

}

#main-navigation li{
    display: inline-block;
    margin-left: 20px;
}

#main-navigation li a{
    color:#ff0099;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
}


h3 {
    color:#ff0099;
    font-family: 'Atomic Age', cursive;
}

#dot {
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
}

.wiki {
    text-align: center;
    font-size: 28px;
}

#logo{
    float: left;
    margin-left: 10%;
}


