div {
    font-size: 36px;
    color: rgb(0, 85, 102);
    font-family: arial;
    width: 348px;
    height: 132px;
    background-color: rgb(14, 145, 161);
    border: 5px solid rgb(125, 206, 148);
    margin: 20px;
    padding: 20px;
    display: block;
}