<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Edit Assignee</title>
</head>
<body>
<h1>Edit Assignee</h1>
<div class="form-group">
    <form action="#" th:action="@{/editassignee/} + *{id}" th:object="${assignee}" method="post">
        <div>
            <label for="name">Assignee name: </label>
            <input id="name" type="text" th:field="${assignee.name}" />
        </div>
        <div>
            <label for="email">Assignee email: </label>
            <input id="email" type="text" th:field="${assignee.email}"/>
        </div>
        <div><select name ="assignhere" th:field="${assignee.todo}">
            <option th:each="todo: ${todos}" th:value="$todo.id}"
                    th:selected="${assignee.todo} == ${todo}" th:text="${todo.title}"></option>
        </select></div>
        <div>
            <input type="submit" value="Submit" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

</body>
</html>