<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Edit todo</h1>
<form action="#" th:action="@{/edit/} + *{id}" th:object="${todo}" method="post">
    <div>
        <label for="title">Todo Description: </label>
        <input id="title" type="text" th:field="${todo.title}" />
    </div>
    <div>
        <label for="isUrgent">Urgent? </label>
        <input id="isUrgent" type="checkbox" th:field="${todo.isUrgent}"/>
    </div>
    <div>
        <label for="isDone">Done? </label>
        <input id="isDone" type="checkbox" th:field="${todo.isDone}"/>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
</body>
</html>