<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<style>
    table {
        border: 2px solid black;
    }

    thead {
        background-color: dimgray;
        color: aliceblue;
        font-family: "Arial";
        font-size: medium;
    }

    tbody {
        font-family: Helvetica;
    }

    td:hover{
        background-color: lightgrey;
    }

</style>
<body>
<table>
<thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>
        <th>Currency</th>
        <th>King</th>
        <th>Guy</th>
        <th>Deposit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${multiple}">
        <td th:text="${accountStat.index}"></td>
        <td style="font-weight: bold" th:text="${account.name}"></td>
        <td th:text="${account.balance}">Balance</td>
        <td th:text="${account.animalType}">Type</td>
        <td th:text="${account.currency}">Currency</td>
        <td style="background-color: gold" th:if="${account.name} == 'Simba'" th:text="King"></td>
        <td style="" th:unless="${account.name} == 'Simba'" th:text="Plebs"></td>
        <td th:text="${account.evaluation}"></td>
        <td><button type="button">Deposit</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>