ul{
    border: 2.5px solid rgb(66, 133, 244);
    display: inline-block;
    width: 540px;
    height: 55px;
    padding: 10px
}

li{
    display: inline-block;
    background-color: rgb(66, 133, 244);
    height: 40px;
    width: 40px;
    margin: 5px;
   
}


li.purple{
    background-color: rgb(100, 53, 121);
}


ul.second{
background-color: rgb(255, 99, 71);
}


