p{
    width: 344px;
    display: block;
    font-size: 18px;
    border-width: 2px 2px 1px 2px;
    border-style: solid;
    padding: 22px;
    margin: 0px;
}

p:hover{
    background-color: orange;
}
